body{

    margin: 0;
    padding: 0;

    
}
*{
  text-decoration: none;
  color: beige;
}





.container2{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: auto;

}

.container2-1{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: auto;


}




.AKbox{
    height: 100vh;
    width: 50%;
    background-color: rgba(112, 113, 113, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;

}

.Abox{
    height: 10vh;
    width: 20vh;
    border-radius: 20px;
    background-color: rgba(112, 113, 113, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.AKtext{
font-size: 40px;
}
.Atext{
font-size: 25px;
}
.Atext:hover{
font-size: 30px;
}
.AKtext:hover{
font-size: 50px;
}

.AKbox:hover,
.Abox:hover {
  background-color: rgb(0, 77, 177);
  width: 51%;

}
.AKbox,
.Abox {
  transition: width 0.3s ease;
}





.container1 {
  width: 100%;
  height: 100vh;

}
