<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketSys
    </title>
</head>
<body>
    
<div class="container">

    <div class="admincontainer">

    </div>

    <div class="AKcontainer">
        <div class="ansattbox">
            <p class="AKbox">Ansatte</p>
        </div>
        <div class="AKbox">
            <p class="AKtext">Kunder</p>
        </div>
    </div>


</div>





</body>
</html>