body{
    background-color: rgb(27, 27, 27);
    margin: 0;
    padding: 0;
}






.AKcontainer{
display: flex;
justify-content: center;
align-items: center;
gap: 10vh;
width: 100%;
height: 80%;

}

.AKbox{
    height: 50vh;
    width: 50vh;
    border-radius: 20px;
    background-color: rgba(112, 113, 113, 0.393);
    display: flex;
    justify-content: center;
    align-items: center;
}







/* From Uiverse.io by csemszepp */ 
.container {
  width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}
